<a href="https://colab.research.google.com/github/Tarun-Gudapati/pythoncodes/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cource="hi is this pen your's"
print(cource)

hi is this pen your's

In [ ]:
introduction='''
name=surya
age=19
clg= gitam'''
print(introduction)

name=surya
age=19
clg= gitam

In [ ]:
movies="bimbisara"
print(movies[1]+movies[-1])

ia

In [ ]:
uni="gitam"
all=uni[:2]
all=uni[2:]
print(all)

tam

In [ ]:
sports="cricket"
print(sports[3:])

cket

In [ ]:
sports="cricket"
print(sports[:3])

cri

In [ ]:
#formated f
firstname="surya"
lastname="setty"
name=(firstname+"'s (last name is) "+lastname)
formated=f'{firstname} thotam {lastname} is awesome'
print(name)
print(formated)

surya's (last name is) setty
surya thotam setty is awesome

In [ ]:
a=int(input())
b=input()
c=print(len((b)))

200200
svvssvvs
8

In [ ]:
#a=int(input())
b=("TARUN ")
c=("has a big asshole")
d=print(len((b)))
print(b.lower())
print(c.upper())
e=print(b+c)

6
tarun
HAS A BIG ASSHOLE
TARUN has a big asshole

In [3]:
a=input('enter your name')
b=int(input(" what is your aass size "))
x= f'{a} has a {b} sized ass'
print(x5)

enter your namesurya
 what is your aass size 32356
surya has a 32356 sized ass

In [9]:
#upper case 
#finding the index  
name=input("please say your name")
clas = input("what is your class")
age=int(input('what is your age'))
x=clas.upper()
y=name.upper()
z= f'{y} studies in {x} class and his age is {age} '
print(z.upper())
print(z.find('u'))

please say your nameiahdiwfhowhof
what is your classhkahdwhdjkahkjsfu
what is your age55
IAHDIWFHOWHOF STUDIES IN HKAHDWHDJKAHKJSFU CLASS AND HIS AGE IS 55
16

In [11]:
'''using title which changes the character in first letter of 
every word in a sentence to capital'''
x='tarun is ass'
print(x.title())

Tarun Is Ass

In [17]:
#using find , present(it uses boolen we use in over here ) , replace 
x='satwik and surya landad on each other'
print('an' in x)
print(x.find ('an'))
x.replace('other' , 'in')

True
7

'satwik and surya landad on each in'

In [23]:
#ceil.round,floor,
import math
x=4.7
print(abs(-2.5))
print(round(x))
print(math.floor(x))
print(math.ceil(x))

2.5

In [24]:
a = int(input("please enter your height "))
b = int(input("please entwer your height"))

if a>b:
  print("a is taller")
elif b<a:
  print("b is taller")
else :
  print(" they are off same height")

please enter your height 55
please entwer your height45
a is taller